/* AcmlmBoard XD - Oldschool Cheese theme */

.PoRT, .pollbarContainer, .pollbar, table.post, .post_about, .post_topbar, .post_content, .PoRT .errort, .PoRT .errorc, table.post td.side, table.post td.userlink, table.post td.meta, table.post td.post, table.outline, table.outline tr:first-child th:first-child, table.outline tr:first-child th:last-child, div#tabs button
{
	border-radius: 0px;
}

.outline, .PoRT
{
	outline: 0px none;
	box-shadow: none;
}

table.outline
{
	border: 0px none;
}

.faq
{
	border: 1px solid #1F6FA5;
	background: #05012E;
}

body
{
	background: black url("../img/themes/cheese/background.png");
}

.header0, .header1
{
	border: 1px solid #1F6FA5;
}

.header0 th
{
	background: #0B246C;
}

.header1 th
{
	background: #0F4687;
}

.cell1, table.post td.post
{
	background: #05012E;
}

.cell0, .cell2, table.post td.side, table.post td.userlink, table.post td.meta
{
	background: #080151;
}

.errort
{
	background: #0F4687;
	border: 1px solid #1F6FA5;
}

.errorc
{
	background: #05012E;
	border: 1px solid #1F6FA5;
	border-top: 0px;
}

table
{
}

td, th
{
	border: 1px solid #1F6FA5;
}

table.outline tr:first-child th:last-child
{
	border-right: 1px solid #1F6FA5;
}
table.outline tr:first-child th
{
	border-top: 1px solid #1F6FA5;
}
table.outline td
{
	border-left: 0px none;
	border-top: 0px none;
}
table.outline th
{
	border-bottom: 1px solid #1F6FA5;
}
table.outline tr td:first-child, table.outline tr th:first-child
{
	border-left: 1px solid #1F6FA5;
}


table.post
{
	border-collapse: collapse;
}

table.post td.side
{
	border-left: 1px solid #1F6FA5;
	border-bottom: 1px solid #1F6FA5;
}

table.post td.userlink
{
	border-top: 1px solid #1F6FA5;
	border-bottom: 0px none;
}

table.post td.meta
{
	border-top: 1px solid #1F6FA5;
	border-right: 1px solid #1F6FA5;
}

table.post td.post
{
	border: 1px solid #1F6FA5;
}



button, input[type="submit"]
{
	border: 1px solid #1F6FA5;
	background: #05012E;
	color: #FFF;
}

input[type="text"], input[type="password"], input[type="file"], input[type="email"], select, textarea
{
	background: #05012E;
	border: 1px solid #1F6FA5;
	color: white;
}

input[type="checkbox"], input[type="radio"]
{
	background: #05012E;
	border: 1px solid #1F6FA5;
	color: white;
}

div#tabs button.selected
{
	border-bottom: 1px solid #0B246C;
	background: #0B246C;
}