/* AcmlmBoard XD - eBoard2 Theme */

body
{
	background-color: #17151c !important;
	background: url(../img/themes/default/background.gif);
}

a:link
{
	color: #D970FC;
}
a:visited
{
	color: #A356BF;
}
a:active
{
	color: #DB72FF;
}
a:hover
{
	color: #FFF;
}

.outline
{
	outline-color: #3c194d;
}

.cell0, table.post td.post
{
	background: #30143d url(../img/themes/default/cellgradient.png) repeat-x top;
}

.cell1, table.post, .faq, .errorc, .post_content
{
	background: #3c194d url(../img/themes/default/cellgradient.png) repeat-x top;
}

.cell2
{
	background: #53246b url(../img/themes/default/cellgradient.png) repeat-x top;
}

.header0 th
{
	background: #5f297a url(../img/themes/default/headergradient.png) repeat-x bottom;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
}

.header1 th, .errort
{
	background: #773399 url(../img/themes/default/headergradient.png) repeat-x bottom;
	color: #fff;
	text-shadow: 1px 1px 0px #000;
}

.errort, .errorc
{
	padding: 0px 2px;
}

.errort
{
	text-align: center;
}

h3
{
	border-top: 0px none;
	border-bottom-color: #8f3db8;
}

#pmNotice
{
	background: rgba(143, 61, 184, 0.75);
}

#pmNotice:hover
{
	background: #8f3db8;
}

.swf
{
	border-color: #471f5c;
	background: #471f5c;
}

.swfmain
{
	border-color: #471f5c;
}

.swfbuttonon, .swfbuttonoff
{
	border-color: #8f3db8;
	background: #8f3db8;
}

/*
button, input[type=submit]
{
	border: 1px solid #3c194d;
	background-color: #592673;
	border-radius: 4px;
	box-shadow:
		inset -1px -10px 5px #3c194d,
		inset 1px 6px 12px hsl(280, 50%, 50%),
		1px 1px 1px #1e0d26;
	color: white;
	text-shadow: 1px 1px 1px black;
}

input[type=text], input[type=password], textarea, select
{
	border: 1px solid #3c194d;
	background-color: #1e0d26;
	border-radius: 4px;
	box-shadow: inset 1px 6px 12px black;
	color: white;
	padding-left: 0.5em;
}

input[type=checkbox], input[type=radio]
{
	border: 1px solid #3c194d;
	background-color: #1e0d26;
	box-shadow: 1px 1px 2px black;
	color: white;
}

input[type=radio]
{
	border-radius: 8px;
}
*/

button, input[type=submit]
{
	border: 1px solid #3c194d;
	background-color: #592673;
	color: white;
	text-shadow: 1px 1px 0px #000;
	border-radius: 8px;
}

input[type=text], input[type=password], input[type=file], input[type=email], textarea, select
{
	border-radius: 6px;
	border: 1px solid #3c194d;
	background-color: #1e0d26;
	color: white;
}

input[type=checkbox], input[type=radio]
{
	border: 1px solid #3c194d;
	background-color: #1e0d26;
	color: white;
}
input[type=radio]
{
	border-radius: 8px;
}

.pollbarContainer
{
	border: 1px solid #592673;
}


.post_about, .post_topbar
{
	background: #30143d url(../img/themes/default/cellgradient.png) repeat-x top;
}
.post_about, .post_topbar, .post_content
{
	border: 1px solid #3c194d;
}

table.post
{
	border: 1px solid #3c194d;
}

table.outline
{
	border: 1px solid #3c194d;
}

div#tabs button
{
	border-top-left-radius: 8px;
	border-top-right-radius: 32px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-right: 16px;
	background: #592673;
}

div#tabs button.selected
{
	position: static;
	z-index: -100;
	border-bottom: 1px solid #3c194d;
	background: #773399;
}