/* AcmlmBoard XD - eBoard2 Dark Theme */

body
{
	background: #17151c;
	background: url(../img/themes/default/background.png);
	color: #E0E0E0;
}

a:link
{
	color: #D970FC;
}
a:visited
{
	color: #A356BF;
}
a:active
{
	color: #DB72FF;
}
a:hover
{
	color: #FFF;
}

table, tr, td, th, div {
	border-width: 0px;
	border-color: rgba(0, 0, 0, 0);
	border-style: none;
}

.outline
{
	border: 1px solid #723f8c;
}

.cell0, table.post td.post
{
	background: #0b0a0d;
}

.cell1, table.post, .faq, .errorc, .post_content
{
	background: #0b0a0d;
}

.cell2
{
	background: #0b0a0d;
}

.header0 th
{
	background: #17151c;
	color: #E0E0E0;
}

.header1 th, .errort
{
	background: #17151c;
	color: #E0E0E0;
}

.errort, .errorc
{
	padding: 0px 2px;
}

.errort
{
	text-align: center;
}

h3
{
	border-top: 0px none;
	border-bottom-color: #8f3db8;
}

#pmNotice
{
	background:  rgba(143, 61, 184, 0.75);
}

#pmNotice:hover
{
	background: #8f3db8;
}

.swf
{
	border-color: #471f5c;
	background: #471f5c;
}

.swfmain
{
	border-color: #471f5c;
}

.swfbuttonon, .swfbuttonoff
{
	border-color: #8f3db8;
	background: #8f3db8;
}

/*
button, input[type=submit]
{
	border: 1px solid #3c194d;
	background-color: #592673;
	box-shadow:
		inset -1px -10px 5px #3c194d,
		inset 1px 6px 12px hsl(280, 50%, 50%),
		1px 1px 1px hsl(280, 50%, 10%);
	color: white;
	text-shadow: 1px 1px 1px black;
}

input[type=text], input[type=password], textarea, select
{
	border: 1px solid #3c194d;
	background-color: hsl(280, 50%, 10%);
	box-shadow: inset 1px 6px 12px black;
	color: white;
	padding-left: 0.5em;
}

input[type=checkbox], input[type=radio]
{
	border: 1px solid #3c194d;
	background-color: hsl(280, 50%, 10%);
	box-shadow: 1px 1px 2px black;
	color: white;
}

*/

button, input[type=submit]
{
	border: 1px solid #723f8c;
	background-color: #1a0f20;
	color: #E0E0E0;
}

input[type=text], input[type=password], input[type=file], input[type=email], textarea, select
{
	background: #1a0f20;
	border: 1px solid #723f8c;
	color: #E0E0E0;
}

input[type=checkbox], input[type=radio]
{
	border: 1px solid #3c194d;
	background-color: #17151c;
	color: white;
}
button:hover, input[type="submit"]:hover, select:hover, input[type="checkbox"]:hover, input[type="radio"]:hover {
	background-color: #1a0f20;
	border: 1px solid #723f8c;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="email"]:focus, textarea:focus {
	border-color: #723f8c;
	outline: none;
}

.pollbarContainer {
	background: #0b0a0d;
	border-radius: 0px;
	box-shadow: none;
	border: none;
}

.pollbar {
	border-radius: 0px;
	box-shadow: none;
	border: 0px none;
}

td.threadIcons label > input:checked ~ * {
	background: #723f8c;
	border-radius: 0px;
	border: 1px solid #723f8c;
}

.post_about, .post_topbar
{
	background: #17151c url(../img/themes/default/cellgradient.png) repeat-x top;
}
.post_about, .post_topbar, .post_content
{
	border: 1px solid #3c194d;
}

table.post
{
	border: 1px solid #723f8c;
}

table.outline
{
	border: 1px solid #723f8c;
}

div#tabs button {
	background: #1a0f20;
}

div#tabs button.selected {
	border-bottom: 1px solid #723f8c;
	background: #723f8c;
}
.PoRT, .pollbarContainer, .pollbar, table.post, .post_about, .post_topbar, .post_content, .PoRT .errort, .PoRT .errorc, table.post td.side, table.post td.userlink, table.post td.meta, table.post td.post, table.outline, table.outline tr:first-child th:first-child, table.outline tr:first-child th:last-child, div#tabs button
{
	border-radius: 0px;
}
.outline
{
	outline: 0px !important;
}